.burger_menu {
  //   opacity: 0;
  //   visibility: hidden;
  position: absolute;
  top: 89px;
  right: -300px;
  width: 300px;
  height: 500px;
  background: rgba(0, 9, 128, 0.128);
  &.active {
    transition: 1s;
    // opacity: 1;
    // visibility: visible;
    right: 0px;
  }
  .content {
    nav {
      .ul {
        li {
          a {
            color: white;
          }
        }
      }
    }
  }
}
